[tool.commitizen]
name = "czespressif"
version = "0.1.2"
update_changelog_on_bump = true
tag_format = "v$version"
changelog_merge_prerelease = true
annotated_tag = true
bump_message = "change: Update version to $new_version"
version_files = [
    "Makefile:^VERSION ="
]
